{% load static %}
<div class="chat-header">
    <div class="user_avatar">
        <img src='{% get_media_prefix %}{{ friend.avatar }}' class="rounded-circle" alt="Cinque Terre" style="width:100%" >
    </div>
    <div class="lh-100 user_name pl-3 d-flex align-items-center">
        <div>
            <h6 class="mb-0 lh-100 mt-0">{{ friend.nickname }}</h6>
        </div>
    </div>

</div>
<div class="chat-content">
    <div class="other_chat_message rounded">
        <figure class="figure">
            <figcaption class="figure-caption">A caption for the above image. A caption for the above image.
                A caption for the above image. A caption for the above image. A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.</figcaption>
        </figure>
    </div>

    <div class="self_chat_message rounded">
        <figure class="figure" style="float: right;">
            <figcaption class="figure-caption">A caption for the above image. A caption for the above image.
                A caption for the above image. A caption for the above image. A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.
            </figcaption>
        </figure>
    </div>

    <div class="other_chat_message rounded">
        <figure class="figure">
            <figcaption class="figure-caption">A caption for the above image. A caption for the above image.
                A caption for the above image. A caption for the above image. A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.
            </figcaption>
        </figure>
    </div>

    <div class="self_chat_message rounded">
        <figure class="figure" style="float: right;">
            <figcaption class="figure-caption">A caption for the above image. A caption for the above image.
                A caption for the above image. A caption for the above image. A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.
            </figcaption>
        </figure>
    </div>

    <div class="other_chat_message rounded">
        <figure class="figure">
            <figcaption class="figure-caption">A caption for the above image. A caption for the above image.
                A caption for the above image. A caption for the above image. A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.</figcaption>
        </figure>
    </div>

    <div class="self_chat_message rounded">
        <figure class="figure" style="float: right;">
            <figcaption class="figure-caption">A caption for the above image. A caption for the above image.
                A caption for the above image. A caption for the above image. A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.
            </figcaption>
        </figure>
    </div>

    <div class="other_chat_message rounded">
        <figure class="figure">
            <figcaption class="figure-caption">A caption for the above image. A caption for the above image.
                A caption for the above image. A caption for the above image. A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.
            </figcaption>
        </figure>
    </div>

    <div class="self_chat_message rounded">
        <figure class="figure" style="float: right;">
            <figcaption class="figure-caption">A caption for the above image. A caption for the above image.
                A caption for the above image. A caption for the above image. A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.A caption for the above image.
                A caption for the above image.A caption for the above image.A caption for the above image.
            </figcaption>
        </figure>
    </div>


</div>
<div class="chat-footer shadow">
    <form action="" method="post" id="chat_input_form">{% csrf_token %}
        <textarea class="pl-3 pr-3 pt-2" id="chat_input_message" rows="2"></textarea>
        <a href="#" class="btn btn-secondary float-right mr-2" id="send_message">发送</a>
    </form>
</div>